<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pelicula 1</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>

<body>
    <main>
        <h1>Peliculas de Acción</h1>
        <nav class="menu">
            <ol class="flex">
                <li class="item">
                    <a class="link-card" href="../../index.html">
                        Inicio
                    </a>
                </li>
                <li class="item">
                    <a class="link-card" href="./movie1.html">
                        Sin tiempo para morir
                    </a>
                </li>
                <li class="item">
                    <a class="link-card" href="./movie2.html">
                            El Escuadrón Suicida
                    </a>
                </li>
                <li class="item">
                    <a class="link-card" href="./movie3.html">
                            El agente invisible
                    </a>
                </li>
            </ol>
        </nav>
        <article class="card">
            <header class="center header-card">
                <h2>Sin tiempo para morir</h2>
            </header>
            <section class="body-card">
                <div class="center">
                    <img class="img-card" src="../../asset/img/OIP.jpg" alt="portada">
                </div>
                <h3 class="center">Descripcion</h3>
                <p>
                    Puede que la despedida de Daniel Craig a la saga 007 vaya a ser recordada por su notable peso emocional con respecto a la media de la franquicia. Sin embargo, solo con recordar esa persecución en Italia, ese asalto final a la base del malvado, esa tiroteo
                    entre la niebla, coches y motos o, sobre todo, esa enorme secuencia en Cuba que convierte en icono Bond a Ana de Armas, ya tenemos razones más que suficientes para que esté en esta lista.
                </p>
            </section>
            <footer>Cari Joji Fukunaga, 2021</footer>
        </article>
    </main>
</body>

</html>