<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pelicula 2</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>

<body>
    <main>
        <h1>Peliculas de Acción</h1>
        <nav class="menu">
            <ol class="flex">
                <li class="item">
                    <a class="link-card" href="../../index.html">
                        Inicio
                    </a>
                </li>
                <li class="item">
                    <a class="link-card" href="./movie1.html">
                        Sin tiempo para morir
                    </a>
                </li>
                <li class="item">
                    <a class="link-card" href="./movie2.html">
                            El Escuadrón Suicida
                    </a>
                </li>
                <li class="item">
                    <a class="link-card" href="./movie3.html">
                            El agente invisible
                    </a>
                </li>
            </ol>
        </nav>
        <article class="card">
            <header class="center header-card">
                <h2>El Escuadrón Suicida</h2>
            </header>
            <section class="body-card">
                <div class="center">
                    <img class="img-card" src="../../asset/img/1366_2000.jpeg" alt="portada">
                </div>
                <h3 class="center">Descripcion</h3>
                <p>
                    James Gunn abandonó temporalmente a sus Guardianes de la Galaxia del UCM de Marvel para adentrarse en el universo de DC y otro grupo de inadaptados, los antihéroes del Escuadrón Suicida. El grupo de villanos, con Harley Quinn (Margot Robbie) a la cabeza,
                    tiene que acatar las órdenes de Amanda Waller si quiere mantener la cabeza en su sitio.
                </p>
            </section>
            <footer class=".footer-card">
                James Gunn, 2021
            </footer>
        </article>
    </main>
</body>

</html>