<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pelicula 3</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>

<body>
    <main>
        <h1>Peliculas de Acción</h1>
        <nav class="menu">
            <ol class="flex">
                <li class="item">
                    <a class="link-card" href="../../index.html">
                        Inicio
                    </a>
                </li>
                <li class="item">
                    <a class="link-card" href="./movie1.html">
                        Sin tiempo para morir
                    </a>
                </li>
                <li class="item">
                    <a class="link-card" href="./movie2.html">
                            El Escuadrón Suicida
                    </a>
                </li>
                <li class="item">
                    <a class="link-card" href="./movie3.html">
                            El agente invisible
                    </a>
                </li>
            </ol>
        </nav>
        <article class="card">
            <header class="center header-card">
                <h2>El agente invisible</h2>
            </header>
            <section class="body-card">
                <div class="center">
                    <img class="img-card" src="../../asset/img/agente-invisible.jpg" alt="portada">
                </div>
                <h3 class="center">Descripcion</h3>
                <p>
                    Uno de los grandes estrenos de Netflix en 2022, 'El agente invisible' cuenta con escenas espectaculares, sentido del humor y aroma de thriller de acción de los años 90. Con Ryan Gosling, Chris Evans y Ana de Armas al frente del reparto, la película adapta
                    la primera novela de Mark Greaney sobre agente de la CIA Court Gentry, alias Sierra Seis, que es sacado de una cárcel federal y reclutado para perseguir a criminales. Años después, él mismo se convertirá en el objetivo de una persecución
                    a contrarreloj cuando llegue a sus manos un valioso objeto.
                </p>
            </section>
            <footer>
                Joe y Anthony Russo, 2022
            </footer>
        </article>
    </main>
</body>

</html>